html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Optional: Removes the default outline on buttons when clicked */
* {
  box-sizing: border-box;
}